<h1>Seguridad mujer</h1>

<div class="shadow-lg p-3 mb-5 bg-white rounded"><p class="font-italic">Es una solucion que permite a la mujer de hoy poder denunciar un acto de violencia de manera rápida y efectiva, debido al alto indice demaltrato se busca una herramienta que permita no solamente hacer denuncias sino que se pueda encontrar a donde acudir frente a esta situación.</p></div

<!-- Large modal -->

<div class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Misión
        </button>
      </h5>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
        <p>Nuestra visión es ayudar a todas las personas que necesitan una ayuda con respecto a su situación ya sea el maltrato o abuso con esta aplicación.</p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Visión
        </button>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body">
       <p>Nuestra visión es ser la aplicación mas usada por las personas y de fácil uso a nivel nacional, cumplir con los estandares de calidad y seguridad.</p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Donde acudir
        </button>
      </h5>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
        <p>ACAVIF: Centro de Atención e Investigación Integral contra la Violencia Intrafamiliar (Fiscalía).</p>

		<p>CAIVAS: Centro de Atención e Investigación Integral a las Víctimas de Delitos Sexuales (Fiscalía).</p>

		<p>Comisarías de Familia.</p>

		<p>URI: Unidades de Reacción inmediata (Fiscalía).</p>

		<p>Policía judicial: (CTI-SIJIN-DIJIN).</p>
      </div>
    </div>
  </div>
</div>
